html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    width: 100%;
    height: 95%;
    display: block;
    background: #000;
    box-sizing: border-box;
}

#controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 3%;
    box-sizing: border-box;
}